.painter {
  text-align: center;
  padding: 50px 0;

  canvas {
    width: 960px;
    height: 540px;
    box-shadow: 3px 3px 5px 3px #eee;
  }
}

.controller {
  margin-bottom: 20px;

  & button {
    margin: 0 5px;
  }
}
